src/test/resources/student.xsd

<?xml version="1.0"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="students" type="studentsType" />
  <xsd:complexType name="studentsType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="student" type="studentType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="studentType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element name="class" type="xsd:string" />
      <xsd:element name="major" type="xsd:string" />
      <xsd:element name="grade" type="xsd:int" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" />
  </xsd:complexType>>
</xsd:schema>